/* Creato-Display font */

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-LightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-RegularItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-ExtraBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-Black.woff2") format("woff2");
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/CreatoDisplay/CreatoDisplay-BlackItalic.woff2")
    format("woff2");
}

/* Jacquard24 font */

@font-face {
  font-family: "Jacquard24";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Jacquard24/Jacquard24-Regular.woff2") format("woff2");
}
